.save, .goal {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    opacity:0.9;
}

.right-column {
    max-width:400px
}

.legend-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 30px;
}

.slider-container {
    text-align:center;
}

.legend-block {
    font-size:10px;
}

.slider div {
    margin-bottom:0px!important;
}
.goalie-rightie, .goalie-leftie, .goal-container, .main-body, .goal-image{
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.sidebar{
    width:100%!important;
}
.options-button {
    padding:0px;
    width:auto;
    font-weight:400!important
}
.grey{
    background-color:#c5c5c5!important
}
.slider-container{
    margin-bottom:10px
}
.share-container {
      display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    width:100%;
}
.optional-block{
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    width:100%;
}
.Facebook {
    background-color: #3b5998;
    color:white;
    width:25%;
    padding:15px;
}
.Twitter{
    background-color: #0084b4;
    color:white;
    width:25%;
    padding:15px;
}
.Google{
    background-color: #E9503D;
    color:white;
    width:25%;
    padding:15px;
}
.Pinterest {
    background-color: #C31C23;
    color:white;
    width:25%;
    padding:15px;
}
.addnewdiv{
    cursor:pointer;
}
.caret {
    color:#333!important;
    cursor:pointer;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.subheader {
    cursor:pointer;
    color:#333;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding: 10px;
}
.optional-data-container{
     transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.item-container{
    padding:10px;
    padding-top:0px;
}
a {
    text-decoration: none;
}
.logopic {
    width:88%;
}

@media screen and (min-width: 1200px) {
    .w-container {
        max-width: 1170px;
    }
}

.heat-map-preview-container, .hoverpreview {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
.heat-map-preview-container:hover > .hoverpreview {
    display:flex;
}
.arroweffect{
  animation: arrow 1.5s infinite;
}
@keyframes arrow {
  from {opacity:1;transform:translateX(0px)}
  to {opacity:0;transform:translateX(20px)}
}
.finalsection{
     -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 13px 13px -13px black!important;
}

.optional-item {
        justify-content: left!important;
    padding-left:20px!important;
}

.optional-item h4 {
    text-align:left;
    text-decoration:underline;
    margin-top:6px;
}

.leftie-goalie {
    display:block!important;
}

.facebook-login-image{
    width:280px;
}
.save-text{
    color:#f22126;
}
.goal-text{
    color:#77cb4a;
}
p {
    font-weight: 400;
}
.login-wrapper.signup{
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 73%, .9)), to(hsla(0, 0%, 73%, .9))), url('../images/LacrosseGoalieBackground.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 73%, .9), hsla(0, 0%, 73%, .9)), url('../images/LacrosseGoalieBackground.jpg');
}
.right-goalie, .leftie-goalie {
    z-index:1;
}
.legend-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #f5f5f5;
  background-color: #bcce10;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}

.legend-block.first, .heat-map-box.first {
  background-color: #e82121;
}

.legend-block.second, .heat-map-box.second {
  background-color: #df621b;
}

.legend-block.third, .heat-map-box.third {
  background-color: #d7a315;
}

.legend-block.fifth, .heat-map-box.fifth {
  background-color: #70c60b;
}

.legend-block.grey, .heat-map-box.grey {
  background-color: #c5c5c5;
}

.legend-text {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-weight: 600;
}
.datah2 {
    font-size:16px;
    line-height:18px;
    color:dimgrey;
    font-weight:300;
    margin:0;
}
.results-top-title-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.heat-item {
  position: relative;
}

.heat-map-container {
  position: absolute;
  display: block;
  width: 420px;
  height: 420px;
  z-index: 1000000;
  top: 15px;
  left: 50%;
  transform: translate(-50%,0);
}
.heat-map-box {
  float: left;
}
